<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Aboard</title>
</head>
<body>
    <h1>Welcome Aboard!</h1>
    <p>We are thrilled to have you join our team. Your skills and talents will be a valuable addition to our organization.</p>
    <p>Feel free to explore the resources available to you and don't hesitate to reach out if you have any questions or need assistance.</p>

<!--    This here is a JINJA COMMENT Below 👇-->
    {# {{ }} is a jinja template used to run Python code inside HTML #}
    <p>{{5*9}}</p>
    <p>this is your lucky number = {{num}} </p>
    <a href="{{ url_for('get_blog', num=2) }}"> Go To Blog </a>
    <footer><p>This is website is still running on {{current_year}}</p></footer>
</body>
</html>